<!-- Template for the cities component -->
<div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <div class="container">
    <h2>City list</h2>
    <p>Click on the city name to get extended forecast</p>
    <div>
      <table id="citiesTable" class="table">
        <thead>
          <tr>
            <th>City name</th>
            <th>Average temperature (C)</th>
            <th>Average wind strength (m/s)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="forecast-info-main"><img src="https://openweathermap.org/img/w/{{item.weather[0].icon}}.png" class="forecast-icon" alt="forecast"><a [routerLink]="['/info', item.id]">{{item.name}}</a></td>
            <td class="forecast-info">{{item.main.temp}}</td>
            <td class="forecast-info-sec">{{item.wind.speed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

